@tailwind base;
@tailwind components;
@tailwind utilities;

.AboutPage{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.giaca{
  background-image: url('./Image/Aca.png');
  width: 100px;
  height: 100px;
  background-size: cover;

}
.gigi{
  background-image: url('./Image/Bero.jpg');
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

.gifrelan{
  background-image: url('./Image/GiWeb.png');
  width: 100px;
  height: 100px;
  background-size: cover;

}
.relogo{
  background-image: url('./Image/React\ \(4\).png');
  width: 100px;
  height: 100px;
  background-size: cover;

}

.nelogo{
  background-image: url('./Image/React\ \(4\).png');
  width: 100px;
  height: 100px;
  background-size: cover;

}
.github{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
  gap: 10px;  
  color: white;
}
.talogo{
  background-image: url('./Image/CSS3.png');
  width: 100px;
  height: 100px;
  background-size: cover;
}
.htlogo{
  background-image: url('./Image/Html\ 5.png');
  width: 100px;
  height: 100px;
  background-size: cover;
}
.csslogo{
  background-image: url('./Image/CSS3.png');
  width: 100px;
  height: 100px;
  background-size: cover;
}
.jalogo{
  background-image: url('./Image/JavaScript.png');
  width: 100px;
  height: 100px;
  background-size: cover;
}
.frlogo{
  background-image: url('./Image/CSS3.png');
  width: 100px;
  height: 100px;
  background-size: cover;
}
.frontend{
  border-radius: 13px;
  padding:3px;
 



}


body{
  background-color: #111827 ;
}

.contact{

  margin: 20px;
  padding: 10px;

}
.maincontact{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; 
}
.info{
  padding: 10px;
  border-radius: 5px;
  background-color:  #2563eb;
  color: white;
  text-align: center;
  height: 300px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



}
.desc{
  max-width: 650px;
}
.sendcontact{
  background-color: #334155;
  min-height: 300px;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  color: white;
  width: 400px;
}
.sendcontact .tittle{
  display: flex;
  align-items: start;
  padding: 10px;
}
.inputs{
  margin: 10px;
  display: flex;
  flex-direction: column;

}
.inputs .mobile{
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}
.inputs input{
  color: black;
}
.Message{
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}
.sendbtn{
  background-color: white;
}
.contact{
  display: flex;
   
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact div{

}
.contact button{

  width: 400px;
  padding: 10px;
  border-radius: 5px;
}
.sendcontact{
  border-radius: 5px;
}
.contactittle{
  color:white;
  font-size: 24px;
  margin: 20px;
  font-weight: 700;
}
.inputs input{
  background-color: rgb(101, 131, 155);
  
}
.maingigi{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 100px;
 
  width: 100%;
}
.gigiinfo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;


}
.gigi{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
   



}

.hello div{

  padding: 5px;
}
.hello{
  
  font-size: 24px;
  font-weight: 700;
}

.who{
  display: flex;
  align-items: center;
  width: 100%;
  text-align: start;
  font-size: 45px;
  gap: 10px;
}
.animatedtext{
 
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
background-image: linear-gradient(140deg , #67e8f9 , #3b82f6);

 

}


.name{
  font-size: 18px;
  font-weight: 700;
 text-decoration: underline;
 text-align: start;
 
 width: 100%;
}
.hello .desc{
  min-width: none;
  width: 600px;
  text-align: start;
  color: gray;
}
.hello{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.crudfull{
  background-image: url('./Image/Crudfullstackimage.png');
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

.email{
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
.inputbox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border: 1px solid #0badc2;
  border-radius: 5px;
  background-color: #1f2937;
  min-width: 550px;
}
.inputbox button{
  padding: 10px;
  width: 100px;
  background-color: #0284c7;
  
  
}
.sendbtnforemail{
   min-width: 200px;
   font-size: 20px;
   background: linear-gradient(140deg , #3baebd ,  #3b82f6);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;

}
.emailtext{
  overflow: hidden;
  animation: 
   cursor 4s infinite alternate
  ;



}

.AboutPage{
  max-width: 1300px;
  border: .5px solid white;

}
.aboutborder{
  display: flex;
  align-items: center;
  justify-content: center;

}
.contact{
  margin-bottom: 150px;
}
.sndbtn{
  display: none;
}
.ctnbtn{
  margin: 20px;
}
.light1{
  position: absolute;
  width: 0px;
  height: 0px;
  box-shadow: 12px 12px 250px 100px rgb(68, 126, 227);
  left: 120px;
  top: 200px;
}
.light2{
  position: absolute;
  width: 0px;
  height: 0px;
  box-shadow: 12px 12px 550px 100px rgb(255, 255, 255);
  right: 120px;
  top: 800px;
}




@media  (max-width:830px) {
 .maingigi .photo {
  display: none;
 }
 .maingigi .hello{
  font-size: 16px;
 }
 .who{
  font-size: 18px;
 }
.maingigi .desc{
  font-size: 16px;
  max-width:  350px !important ;
  flex-wrap: wrap;
}
.inputbox{

  border: 0;
  background: none;
  display: none;
}
.emailtext{
  display: none;
}
.inputbox a{

}
.hello{
  width: 100%;
  box-sizing: border-box;
  align-items: start;
  margin-left: 50px ;
}
.maincontact{
  max-width: 300px;
  flex-wrap: wrap;
  align-items: center;
}
.ctnbtn {
  max-width: 300px;
  margin: 20px;
}
.info{
  max-height: 140px;
  font-size: 18px;
  margin: 1px;
}
.sendcontact{
  
}
.sndbtn{
  display: block;
  text-align: center;
}
}

@keyframes cursor {
   0%{ width: 0;
   color: #1f2937;
  }
   100%{ width: 300px;
   
  }
  
}